# Supabase Configuration
VITE_SUPABASE_URL=https://oudifkfltqhuyevepxtn.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_maBsYDQ8mQpicaplAU_3JQ_0JiPO2gJenv

# Database Connection URL (e.g., Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:password@host:5432/postgres

# Optional individual database configuration
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=
